////////////////////////////////////////////////
////////////////////////////////////////////////
// 0. viewport with/height
$app_wrapper_width: calc(3/4*100vw);

$app_vertical_wrapper_header: 10vh;
$app_vertical_wrapper_main: 76vh;
$app_vertical_wrapper_footer: 8vh;

// 1. Project Color Scheme:

$white: #FAFAFA;
$black: #242323;
$grey: #DDDEEE;
$pink: #F9418C;
$yellow: #FAEB5A;
$blue: #20AAC6;
$purple_dark: #2D164E;
$purple_light: #722FBC;

////////////////////////////////////////////////
////////////////////////////////////////////////
// 2. Typography:

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

/* Note:

Typography from Wireframes:
'Gotham', medium
'Proxima Nova' semibold & light
'Century Schoolbook' Regular
To be replaced using font-squirrel.
Right now using Ok Google Font replacements "Montserrat" & "Merriweather"

-----------------------------
*/

$project-sans-serif: 'Montserrat', sans-serif;
$project-serif: 'Merriweather', serif;

$font-size-huge: calc(75% + 8.6vw)!default;
$font-size-1: calc(75% + 3vw)!default;
$font-size-2: calc(75% + 2.4vw) !default;
$font-size-3: calc(75% + 2vw) !default;
$font-size-4: calc(75% + 1.4vw) !default;
$font-size-5: calc(75% + 0.9vw) !default;
$font-size-6: calc(75% + 0.65vw) !default;
$font-size-7: calc(75% + 0.6vw) !default;
$font-size-8: calc(75% + 0.45vw) !default;
$font-size-9: calc(75% + 0.35vw) !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-semibold: 500 !default;
$weight-bold: 700 !default;

$letter-spacing-1: 0.6vw !default;
$letter-spacing-2: 0.45vw !default;

////////////////////////////////////////////////
////////////////////////////////////////////////
// 3. Shadows:

$main_shadow: 0px 3px 62px $black;
$hover_shadow: 10px 10px 50px $black;


////////////////////////////////////////////////
////////////////////////////////////////////////
// 4. Times:

$main_time: 600ms;
$short_time: 400ms;
$shortest_time: 200ms;
$long_time: 1000ms;
$longest_time: 1600ms;
