////////////////////////////////////////////////
////////////////////////////////////////////////
// Classes

// Typography:

.headline {
  text-transform: uppercase;
  font-family: $project-sans-serif;
  font-size: $font-size-8;
  font-weight: $weight-semibold;
}

.headline-touch {
  @extend .headline;
  font-size: $font-size-2;
  padding-bottom: 1vh;
}

.section-links {
  font-family: $project-sans-serif;
  font-size: $font-size-6;
  font-weight: $weight-light;
  letter-spacing: $letter-spacing-2;
  display: inline-block;
}

.section-links-touch {
  @extend .section-links;
  letter-spacing: 0rem;
}

.app-title {
  @extend .headline;
}

.app-number {
  font-family: $project-serif;
  margin: 0;
  padding: 0;
  font-size: 5.6vw;
}

.small-print {
  font-size: 1.5rem;
  padding-left: 0.5vw;
  font-family: $project-sans-serif;
}

.number-percent {
  font-size: calc(75% + 0.3vw);
  padding-left: 0.2vw;
  font-family: $project-serif;
}

.sub-title {
  font-family: $project-sans-serif;
  font-size: $font-size-6;
  font-weight: $weight-light;
}

.primary-box-col { background-color: $pink; }
.secondary-box-col { background-color: $purple_light; }

.primary-text-col { color: $pink; }
.secondary-text-col { color: $purple_light; }


// Other:

.linebreaker {
  width: 100%;
  background: $grey;
  height: 1px;
  margin: 1.4vw auto;
}

.section-item:hover {
  cursor: pointer;
}

.section-item-active {
  text-decoration: none;
  display: inline-table;
}

.section-item-active:after {
  content: "";
  border-bottom: 0.1rem solid $yellow;
  display: table-caption;
  caption-side: bottom;
  position: relative;
  width: 95%;
  margin-top: 0.2rem;

}

.app-br {
  margin: 0 1vw;
}

.app-br:after {
    content: "|";
}


.under-lined {
  text-decoration: none;
  display: inline-table;
}

.under-lined:after {
  content: "";
  border-bottom: 0.1rem solid $pink;
  display: table-caption;
  caption-side: bottom;
  position: relative;
  width: 100%;
padding-bottom: 0.3vw;
}
