.wrapper-skeleton {
  z-index: 4;
}

.header-icon {
  position: fixed;
  top: 6vh;
  left: 6vw;
  max-width: 1.8rem;
}


.app-wrapper-main {
  // width: 100%;

}

.footer-icon {
  position: fixed;
  bottom: 8vh;
  left: 6vw;
  max-width: 7rem;
}

.views {
  // important to keep this one at min-height: 100%;
  min-height: 100%;
  z-index: 3;
}

////////////////////////////////////////////////
////////////////////////////////////////////////
// Temporary stuff for testing

.temp-slide-button {
  position: absolute;
  font-size: 1rem;
  @include noFuzz();
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 500px) {
  .footer-icon {
    max-width: 4rem;
  }
}
