.nav {
  background: none;
  position: fixed;
  top:0;
  height: 8vh;
  width: 100%;

  .background-opacity{
    position: fixed;
    background: $purple_dark;
    opacity: 0.15;
    width: 110%;
    height: 8vh;
    left: -1vh;
  }

}

.views {
  // important to keep this one at min-height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}



////////////////////////////////////////////////
////////////////////////////////////////////////
// Footer Logo

.footer-icon-desktop {
  position: fixed;
  bottom: 4vh;
  left: 6vw;
  max-width: 7rem;
}

.footer-icon-mobile {
  margin-left: 6vw;
  margin-bottom: 6vw;
  max-width: 7rem;
}

@media screen and (max-width: 500px) {
  .footer-icon-mobile {
    max-width: 4rem;
  }
  .hero-body {
    padding-bottom: 0;
  }
}
