.wrapper-skeleton {
  z-index: 4;

  .app-wrapper-header {
    text-align: left;
    padding: 0 6vw;
    height: $app_vertical_wrapper_header;

    .burger {
      position: fixed;
      top: 3vh;

      .header-icon {
        max-width: 1.6rem;
        z-index: 3;
      }
    }
  }

  .app-wrapper-main {
    height: $app_vertical_wrapper_main;
    // overflow: hidden;

  }

  .app-wrapper-footer {
    text-align: left;
    padding: 0 6vw 0;
    height: $app_vertical_wrapper_footer;

    .footer-icon {
      max-width: 7rem;
    }
  }
}

.views {
  // important to keep this one at min-height: 100%;
  min-height: 100%;
  z-index: 3;
}

////////////////////////////////////////////////
////////////////////////////////////////////////
// Temporary stuff for testing

.temp-slide-button {
  position: absolute;
  font-size: 1rem;
  @include noFuzz();
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 1000px) {
.wrapper-skeleton {
  .app-wrapper-footer {
      .footer-icon {
        max-width: 5rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
.wrapper-skeleton {
  .app-wrapper-footer {
      .footer-icon {
        max-width: 4rem;
      }
    }
  }
}
