////////////////////////////////////////////////
////////////////////////////////////////////////
// Dashboard Menu

.dashboard-menu-skeleton {
  background: $white;
  z-index: 3;
  height: 100vh;
  padding: 0;
}

.menu-wrapper {
  text-align: left;
  display: flex;
  height: 100vh;
  padding: 0;

  .menu-box {
    margin: auto auto;
    width: 70%;
  }
}
.nav-menu-body {
  &:hover {
    cursor: pointer;
  }
}
