////////////////////////////////////////////////
////////////////////////////////////////////////
// Debit View:

.debit-page-wrapper {
  background: purple_dark;
  background-image: url(../../assets/images/component_bgs/debitering.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.hero-head{
  padding-top: 10vh;
}

.debit-headline {
  font-size: $font-size-3;
}

.graph-image {
  width: 100%;
  margin: 0 auto;
  // width: 100%;
  position: relative;
}

.graph-text-wrapper {
  position: absolute;
  top: 33%;
  width: 100%;

  .message {
    background: none;
  }

  .graph-text {
    color: $white;
  }
}

.box-values-aside, .menu, .menu-list, li {
  display: inline-block;
  margin-top: -10px;

  .text-value {
    font-size: $font-size-5;
    margin-left: 1vw;
  }

  .value-box {
    @include sameWiHe(1.6rem);
  }
}

.box-values-below {
  padding-top: 2vh;
}
.box-values-below-text {
  font-size: $font-size-3;
  margin-left: 1vw;
}

.space-breaker {
  margin: 0 2vw;
}

////////////////////////////////////////////////////

@media screen and (min-width: 1600px){
  .graph-image {
    width: 85%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1000px){
  .numb {
      font-size: 4rem;
    }
}

@media screen and  (max-width: 768px) and (min-width: 520px) {
  .graph-image {
    width: 70%;
    margin: 0 auto;
  }
  .numb {
      font-size: $font-size-huge;
    }
}

@media screen and  (max-width: 520px) {
  .graph-image {
    width: 100%;
    margin: 0 auto;
  }
  .numb {
      font-size: $font-size-huge;
    }
}
