@import '/bulma-variables/variables';
@import '/bulma-variables/mixins';
@import '/bulma-variables/functions';
@import '/bulma-variables/animations';

@import '_GlobalVariables';
@import '_GlobalMixins';

@import '/animations/main-backgrounds';
@import '/animations/slide';
@import '/animations/fade';

@import 'dashboard-menu';
@import 'app-wrapper';
@import 'testbulmadebit';
@import 'debit';

////////////////////////////////////////////////
////////////////////////////////////////////////
// General & "Skeleton" Wrappers:

#app,body, html {
  // Use this one for changing the Main Background Color + controlling the font-size (rems).
  @include noFuzz();
  @include justCenter();
  font-size: 100%;
  background: $purple_dark;
}

.app-wrapper-skeleton {
  z-index: 4;
}

.app-dashboard-menu-skeleton {
  background: $white;
  z-index: 3;
  height: 100vh;
}


/*
-----------------------------
*/

////////////////////////////////////////////////
////////////////////////////////////////////////
// General: Hidden Scrollbar - which is undesirable in dashboard view.

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
