
// .column:first-of-type {
//   background: red;
// }
//
// .column:last-of-type {
//   background: green;
// }

.tile-1 {
  background: green;
}
.tile-2 {
  background: blue;
}
.tile-3 {
  background: red;
}
