////////////////////////////////////////////////
////////////////////////////////////////////////
// Dashboard Menu

.dashboard-menu-skeleton {
  padding: 0;
  background: $white;
  position: fixed;
  width: $menu_wrapper_width;
}

.menu-wrapper {
  transform: scale(0.95);
  text-align: left;
  display: flex;
  height: 100vh;
  padding: 0;

  .menu-box {
    margin: auto auto;
    width: 70%;
  }
}
.nav-menu-body {

  .dashboard-number {
    font-size: $font-size-1;
  }

  &:hover {
    cursor: pointer;
  }
}
