@import '_GlobalVariables';

.side-nav {
    height: 100%;
    width: 90%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: -90%;
    background-color: #20AAC6;
    overflow-x: hidden;
    @include niceTransition($shortest_time);
    padding-top: 60px;
}

.side-nav a {
    text-decoration: none;
    font-size: 12px;
    color: #242323;
    display: block;
    padding-top: 33px;
    padding-bottom: 33px;


}

.side-nav-content {
    padding-top: 10vh;
    margin: 0 auto;
    text-align: left;
    width: 80%;

    a {
      font-size: $font-size-2;
      color: $white;
    }

    .break-row {
        width: 100%;
        background-color: $white;
        height: 2px;
    }


}

// .side-nav-footer {
//     position: absolute;
//     max-width: 5rem;
//     top: 580px;
//     left: 30px;
//
// }

// @media screen and (max-height: 450px) {
//   .side-nav {padding-top: 15px;}
//   .side-nav a {font-size: 18px;}
// }

.open-menu {
    position: absolute;
    top: 3vh;
    left: 6vw;
}


.close-menu {
    position: absolute;
    top: 3vh;
    right: 6vw;
}

.open-icon {
      max-width: 1.6rem;
      z-index: 1001;

}

.close-icon {
    max-width: 1.2rem;
    filter: invert(100%);
}
