.color-div-wrapper {


	.col-div-next-event {
		position: fixed;
		width: 80vh;
		height: 300vh;
		top: -120vh;
		left: 10vh;
		transform: scale(2);
		transform: rotate(135deg);
		background: $pink;

	}

	// Blogg Page

	.col-div-blog-page {
		position: absolute;
		width: 35vh;
		height: 200vh;
		top: -80vh;
		left: -10vw;
		transform: scale(2,2);
		transform: rotate(20deg);
		background: $pink;
	}
}

////////////////////////////////////////////////////

@media screen and  (max-width: 1000px) {

	.color-div-wrapper {
		.col-div-next-event {
			height: 200vh;
			top: -40vh;
			left: 10vh;
		}

		.col-div-blog-page {
			left: -28vw;
		}
	}
}

@media screen and  (max-width: 520px) {

	.color-div-wrapper {
		.col-div-next-event {
			height: 200vh;
			top: -40vh;
			left: 10vh;
		}

		.col-div-blog-page {
			left: -28vw;
		}
	}
}
