/* Color Scheme:
-----------------------------
*/

$white: #FAFAFA;
$black: #242323;
$pink: #F9418C;
$yellow: #FAEB5A;
$blue: #20AAC6;
$purple_dark: #2D164E;
$purple_light: #722FBC;

/* Fonts:

To be replaced using font-squirrel

'Gotham', medium
'Proxima Nova' semibold & light
'Century Schoolbook' Regular

Right now using Google Font replacement "Montserrat" & "Merriweather"

-----------------------------
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

$number-size: 3rem;

.headline-lg {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: $white;
}

.links-lg {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.25rem;
  color: $white;
}

.number-lg {
  font-family: 'Merriweather', serif;
  color: $white;
  font-size: $number-size;
    span { font-size: $number-size * 0.8; }
}