////////////////////////////////////////////////
////////////////////////////////////////////////
// BlogPost View:

.blog-page-wrapper {
  background: $purple_dark;
  height: 100vh;
  width: 100%;

.hero-head {
  .image-wrapper {
    height: 30vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  .image-wrapper > .color-filter {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: $pink;
  }

}

  .hero-body {
    .blog-credit {
      font-size: $font-size-6;
      text-transform: none;
      color: $pink;
    }

    .section-item-active:after {
      border-bottom: 0.1rem solid $pink;
    }

    .blog-description {
      line-height: 3.2vh;
      width: 100%;
      margin: 0 auto;
      font-size: $font-size-8;
      color: $white;

      span {
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    .blurb {
      @extend .blog-description;
      line-height: 3vh;
      font-size: $font-size-9;
      font-weight: 700;

      span {
        font-weight: 300;
        color: $pink;
      }

      a {
        font-weight: 300;
        color: $white;
      }
    }
  }
}

.blog-headline {
  text-transform: none;
  font-size: $font-size-4;
  margin-top: -2vh;
}


// ////////////////////////////////////////////////////

@media screen and (max-width: 1000px){
.blog-headline {
        font-size: 4vh;
      }
}
