////////////////////////////////////////////////
////////////////////////////////////////////////
// Current Projects Page:

.carousel {
  // margin-bottom: 4.5rem;
  .project-circle {
    margin-top: 0;
    background: #aaa;
    width: 13px;
    height: 13px;
    margin-left: 20px;
    border-radius: 50%;
  }
  .active{
    background: $white;
  }
}



.current-projects-page-wrapper {
  background: #c9c9c9;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.project-body {
  padding-top: 0;
}


.proj-mobile-headline {
  background: none;
  color: $black;

  .project-values {
    font-size: 1.2rem;
  }

  .title {
    margin-top: 1rem;
    font-size: 2rem;
  }
}

.project-title {
  color: $white;
  font-size: $font-size-3;
  font-weight: 400;
  letter-spacing: 0.1vw;
  margin-bottom: -0.5vh;
}

.project-values {
  font-size: $font-size-6;
  font-weight: 400;
  letter-spacing: 0.05vw;
  margin-top: 1vh;
}

.current-info-headline {
  text-align: left;
}


.col-filter1 {
  background: $pink;
}

.col-filter2 {
  background: $blue;
}

.col-filter3 {
  background: $purple_dark;
}

.img-box {
  position: relative;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.row-height1 {
  width: 100%;
  padding-top: 10vh;
}

.row-height2 {
  width: 100%;
  padding-top: 18vh;
}

.row-height3 {
  width: 100%;
  padding-top: 13vh;
}

.row-height4 {
  width: 100%;
  padding-top: 20vh;
}


.pic-filler-item {
  background-color: $white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.illustrative-filler1 {
  @extend .pic-filler-item;
  background-color: $blue;
  // background-image: url(../../assets/images/transitions/trans_img_2.png);
  background-position: 0% 30%;
  background-size: 100%;
}

.illustrative-filler2 {
  @extend .pic-filler-item;
  // background-color: $pink;
  background-image: url(../../assets/images/illustrations/7.jpg);
  background-position: 0% 30%;
  // background-size: 200%;
}

.pic-filler1 {
  @extend .pic-filler-item;
  background-color: $blue;
  background-position: 50% 20%;
  background-size: 130%;
  // background-position: inherit;

}

.pic-filler2 {
  @extend .pic-filler-item;
  background-color: $pink;
  background-position: 40% 20%;
  background-size: 120%;
}

.pic-filler3 {
  @extend .pic-filler-item;
  background-color: $blue;
  background-position: 50% 10%;
  background-size: 350%;
}

.pic-filler4 {
  @extend .pic-filler-item;
  background-color: $purple_dark;
  background-position: 50% 30%;
  background-size: 100%;
}

.pic-filler5 {
  @extend .pic-filler-item;
  background-color: $blue;
  background-position: 30% 20%;
  background-size: 130%;
}

.pic-filler6 {
  @extend .pic-filler-item;
  background-color: $pink;
  background-position: 30% 20%;
  background-size: 120%;
}

.pic-filler7 {
  @extend .pic-filler-item;
  // background-color: $pink;
  background-position: 10% 10%;
  background-size: 110%;
}

.pic-filler8 {
  @extend .pic-filler-item;
  background-color: $purple_dark;
  background-position: 30% 20%;
  background-size: 105%;
}

.pic-filler9 {
  @extend .pic-filler-item;
  background-color: $blue;
  background-position: 10% 20%;
  background-size: 100%;
}


.mobile-color-breaker {
  height: 3rem;
  width: 100%;
}
////////////////////////////////////////////////
// Media Queries:
@media screen and (max-width:1600px) {
  .pic-filler1 {
    background-size: 230%;
  }
  // .pic-filler2 {
  //   background-size: 230%;
  // }
  .pic-filler3 {
    background-size: 630%;
  }
  .pic-filler4 {
    background-size: 200%;
  }

  .pic-filler5 {
    background-size: 220%;
  }

  .pic-filler6 {
    background-size: 200%;
  }

  .pic-filler7 {
    background-size: 200%;
  }

}

@media screen and (min-width: 1000px) {
  .carousel {
    margin-bottom: 4.5rem;
  }
}






@media screen and (max-width: 768px) {
  .current-info-headline {
    text-align: center;
  }
}
