////////////////////////////////////////////////
////////////////////////////////////////////////
// Current Projects Page:

.current-projects-page-wrapper {
  background: #c3c3c3;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.title-wrapper {
  position: relative;
  color: $black;

  .projekt-title-box {
    position: absolute;
    bottom: 0;
    right: 0;

    .project-title {
      color: $white;
      font-size: $font-size-3;
      font-weight: 400;
      letter-spacing: 0.1vw;
      margin-bottom: -0.5vh;

    }
    .project-values {
      font-size: $font-size-6;
      font-weight: 400;
      letter-spacing: 0.05vw;
      margin-top: 1vh;
    }
  }
}

.img-box {
  height: 100%;
  width: 100%;
  background: $pink;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('../../assets/images/staff/erik.png');

  .color-filter {

  }
}

.small-horizonal {
  background-position: 10% 30%;
  background-size: 100%;
}



////////////////////////////////////////////////
// Media Queries:

@media screen and (max-width: 768px){
  .tile {
    min-height: 160px;
  }
}
