////////////////////////////////////////////////
////////////////////////////////////////////////
// Current Projects Page:

.current-projects-page-wrapper {
  background: #c9c9c9;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.head-spacer {
  // height: 2vh;
}

.current-desktop-spacer {
  height: 2vh;
}

.current-info-headline {
  text-align: left;
}

.proj-mobile-headline {
  background: none;
  color: $black;

  .project-values {
    font-size: 1.2rem;
  }

  .title {
    margin-top: 1rem;
    font-size: 2rem;
  }
}

.title-wrapper {
  position: relative;
  color: $black;

  .projekt-title-box {
    position: absolute;
    bottom: 0;
    right: 0;

    .project-title {
      color: $white;
      font-size: $font-size-3;
      font-weight: 400;
      letter-spacing: 0.1vw;
      margin-bottom: -0.5vh;
    }

    .project-values {
      font-size: $font-size-6;
      font-weight: 400;
      letter-spacing: 0.05vw;
      margin-top: 1vh;
    }
  }
}

.col-filter1 {
  background: $pink;
}

.col-filter2 {
  background: $blue;
}

.col-filter3 {
  background: $purple_dark;
}

.img-box {
  position: relative;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.height-div{
  width: 100%;
  height: 12vh;
}

.height-div-bigger{
  width: 100%;
  height: 12vh;
}

.padder {
  padding: 3vh 0;
}


.pic-filler-item {
  background-color: $white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.illustrative-filler1 {
  @extend .pic-filler-item;
  background-color: $blue;
  // background-image: url(../../assets/images/transitions/trans_img_2.png);
  background-position: 0% 30%;
  background-size: 100%;
}

.illustrative-filler2 {
  @extend .pic-filler-item;
  // background-color: $pink;
  background-image: url(../../assets/images/illustrations/9.jpg);
  background-position: 0% 30%;
  // background-size: 200%;
}

.pic-filler1 {
  @extend .pic-filler-item;
  background-color: $blue;
  background-position: 50% 20%;
  background-size: 130%;
  // background-position: inherit;

}

.pic-filler2 {
  @extend .pic-filler-item;
  background-color: $pink;
  background-position: 40% 20%;
  background-size: 120%;
}

.pic-filler3 {
  @extend .pic-filler-item;
  background-color: $blue;
  background-position: 50% 10%;
  background-size: 350%;
}

.pic-filler4 {
  @extend .pic-filler-item;
  background-color: $purple_dark;
  background-position: 50% 20%;
  background-size: 140%;
}

.pic-filler5 {
  @extend .pic-filler-item;
  background-color: $blue;
  background-position: 30% 20%;
  background-size: 130%;
}

.pic-filler6 {
  @extend .pic-filler-item;
  background-color: $pink;
  background-position: 30% 20%;
  background-size: 120%;
}

.pic-filler7 {
  @extend .pic-filler-item;
  // background-color: $pink;
  background-position: 10% 10%;
  background-size: 110%;
}

.pic-filler8 {
  @extend .pic-filler-item;
  background-color: $purple_dark;
  background-position: 30% 20%;
  background-size: 105%;
}

.pic-filler9 {
  @extend .pic-filler-item;
  background-color: $blue;
  background-position: 10% 20%;
  background-size: 100%;
}



.tile {
  // background: black;
}

.mobile-color-breaker {
  height: 3rem;
  width: 100%;
}
////////////////////////////////////////////////
// Media Queries:
@media screen and (max-width:1600px) {
  .pic-filler1 {
    background-size: 230%;
  }
  // .pic-filler2 {
  //   background-size: 230%;
  // }
  .pic-filler3 {
    background-size: 630%;
  }
  .pic-filler4 {
    background-size: 220%;
  }

  .pic-filler5 {
    background-size: 220%;
  }

  .pic-filler6 {
    background-size: 200%;
  }

  .pic-filler7 {
    background-size: 200%;
  }

}



@media screen and (max-width: 768px) {
  .current-info-headline {
    text-align: center;
  }
}
