////////////////////////////////////////////////
////////////////////////////////////////////////
// Next Event Page:

.next-event-page-wrapper {
  background: $white;
  background-image: url(../../assets/images/component_bgs/nextevent.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
}
