.slide-enter {

}
.slide-enter-active {
  animation: slide-in 1s ease-out forwards;
}
.slide-leave {

}
.slide-leave-active {
  animation: slide-out 1s ease-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}